# IntelliJ
/.idea

# npm & gulp
.npm/
.v8flags*.json
node_modules
npm_debug.log

# mac crap
.DS_Store

# icon stuff
Thumbs.db

# old files
*_old*

# composer dependencies
/vendor

# cache files
/web/templates/cache
