RewriteEngine on

Options -MultiViews

RewriteCond %{QUERY_STRING} ^clan=(.*)$
RewriteRule ^(.*)$ clan?n=%1 [QSA,L]
RewriteCond %{QUERY_STRING} ^server=(.*)$
RewriteRule ^(.*)$ server?n=%1 [QSA,L]
RewriteCond %{QUERY_STRING} ^player=(.*)$
RewriteRule ^(.*)$ tee?n=%1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?uri=$1 [QSA,L]
