# TYPO3 specific setting
TYPO3_CONTEXT=Development/Docker

# debugger/profiler settings
PHP_DEBUGGER=xdebug
XDEBUG_REMOTE_ENABLE=1
XDEBUG_REMOTE_CONNECT_BACK=on
XDEBUG_IDEKEY=PHPSTORM
XDEBUG_CLI_COLOR=1
XDEBUG_MAX_NESTING_LEVEL=1000
XDEBUG_PROFILER_ENABLE_TRIGGER=1
XDEBUG_PROFILER_OUTPUT_DIR=/tmp/debug/
XHPROF_OUTPUT_DIR=/tmp/debug/