{{ include 'templates/header.twig' }}

{$navigation}

<div id="content" class="span9">
    <div>
        <ul class="breadcrumb">
            <li>
                <h3>About teeworlds-stats</h3>
            </li>
        </ul>
    </div>
    <div class="well">
        <a href="https://github.com/Teectac/teeworlds-stats">
            <img style="position: absolute; top: 0; right: 0; border: 0;"
                 src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
                 alt="Fork me on GitHub"></a>
        <h3>Teeworlds</h3>
        <p><a href="https://www.teeworlds.com/">Teeworlds</a> is an opensource multiplayer game.</p>
        <br/>

        <h3>Choose which statistics to display</h3>
        <p>You are now free to choose whever or not to display these statistics.<br/>
        Just access your account via facebook login to setup your preferences.</p>
        <br/>

        <h3>Facebook login</h3>
        <p>Facebook is only used as a mean of identification.<br/>
        Teeworlds-stats will not publish anything on your wall.<br/>
        Teeworlds will not even appear on your facebook profile.<br/>
        </p>
        <br/>
        <h3>If a clan/server/tee is missing</h3>
        <p>It could be because this clan/server/tee
        <div>
            <ul>
                <li>Has not yet been online more than 5 minutes</li>
                <li>Was not reachable through the official master servers</li>
                <li>Was misspelled</li>
            </ul>
        </div><br/>
        In the latter case, try typing only part of the name and see the suggestions.<br/><br/>

        <h3>If your nickname is associated with another clan/country</h3>
        <p>Then, a second player is probably using the same nickname. <br/>
           As a result, both of your statistics were merged.<br/>
        </p><br/>

        <h3>Where do these statistics come from ?</h3>
        <p>Teeworlds servers are looked up every 5 minutes to gather data about players, clans, mods, etc...<br/>
        Results are displayed on demand.
        </p><br/>

        <h3>Opensource</h3>
        <p>Teeworlds-stats is opensource, <a href="https://github.com/Teectac/teeworlds-stats">check it out
            on github.</a><br/>
        Or leave a message on the <a href="https://www.teeworlds.com/forum/viewtopic.php?id=9662">teeworlds forums</a>.
        </p>
    </div>
</div>


{{ include 'templates/footer.twig' }}
