<div class="leftNav">
	<ul id="menu">
					<li class="graphs">
				<a href="/general" title="">
				<span>Game statistics</span></a>
			</li>
					<li class="gallery">
				<a href="/" title="">
				<span>Search</span></a>
			</li>
					<li class="typo">
				<a href="/about" title="">
				<span>About</span></a>
			</li>
				<br/>
		<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
		<div style="height: 20px; width: 32px; display: inline-block; text-indent: 0; margin: 0; padding: 0; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; background: transparent initial initial initial initial;" id="___plusone_0"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 32px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1359461414563" name="I0_1359461414563" src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=medium&amp;annotation=none&amp;hl=en-US&amp;origin=http%3A%2F%2Fwww.teeworlds-stats.info&amp;url=http%3A%2F%2Fwww.teeworlds-stats.info%2F&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.fr.oTd8oY1V30c.O%2Fm%3D__features__%2Fam%3DQQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTObutaqLeFyJsA4RMFxgw2jCp-bkQ#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Conload&amp;id=I0_1359461414563&amp;parent=http%3A%2F%2Fwww.teeworlds-stats.info" allowtransparency="true" data-gapiattached="true" title="+1"></iframe></div><br>
	</ul>
<br>

</div>
<!-- Content -->
<div class="content">
	<div class="title"><h5>Teeworlds statistics on Clans, Countries, Mods, Servers and Tees !</h5></div>

	<div class="widget first">
		<div class="head"><h5 class="iCreate">Statistics could not be displayed</h5></div>
		<div class="body">
		<div class="nNote nFailure hideit">
			<p><strong>Error connecting to the database : </strong>The server may be overloaded. Please try again later.</p>
		</div>
		</div>
	</div>

	<div class="fix"></div>
</div>