<div class="span3 main-menu-span">
<div class="well nav-collapse sidebar-nav">
<ul class="nav nav-tabs nav-stacked main-menu">
    <li class="nav-header hidden-tablet">Menu</li>
    {% for item in items %}
        <li {%if item.active%} class="active" {%endif%}>
            <a class="ajax-link" href="{{ item.url }}">
                <i class="{{ item.class }}"></i>
                <span class="hidden-tablet"> {{ item.text }}</span>
            </a>
        </li>
    {% endfor %}
</ul>

<label id="for-is-ajax" class="hidden-tablet" for="is-ajax">
    <div class="fb-like" data-share="true" data-width="100" data-show-faces="false" data-layout="button_count"></div>
    <div class="g-plusone" href="http://www.teeworlds-stats.info" data-size="medium"
         data-annotation="none"></div>
</label>

</div>
</div>
